* {
    margin: 0;
}

@font-face {
    font-family: 'font_logo';
    src: url('font/StretchPro.otf') format('truetype');
}

@font-face {
    font-family: 'font_nav';
    src: url('font/Caviar.ttf') format('truetype');
}

body {
    background-color: #FAFAFC;
}

nav {
    display: flex;
}

header nav {
    padding: 0% 20%;
    background-color: white;
    height: 4.5rem;
}

.logo {
    font-family: 'font_logo', sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
}

.logo:hover {
    cursor: pointer;
}

.shop_button {
    font-family: 'font_nav', sans-serif;
    letter-spacing: 2px;
    align-items: center;
    font-weight: 00;

}